extends ./bootstrap-layout

block body
  div.Site.container
    main.Site-content
      div.row.center-xs
        div.col-xs-12.page-header
          div.row.middle-xs
            div.col-xs-6
              img(src='/main-image.jpg')
            div.col-xs-6
              h1 Portfolio Banner / logo / photo
        
        
  footer
    div.row.center-xs
      div.col-xs-12
        h2 Create by DRR
      
