mixin content()
  div.row.center-xs
    div.col-xs-12
      span Contact info
  div.row.center-xs
    div.col-xs-12.center-xs.is-hidden
      button button-music
      button button-business
    div.col-xs-6.music-panel
      span left
    div.col-xs-6.business-panel
      span right
