mixin content()
  div.row.center-xs
    div.col-xs-12.col-md-9
      div.flex-container
        div.row.between-xs.top-xs.xs-mt-10.start-xs
          div.col-xs-12.col-sm-6
            +about_me()
          div.col-xs-12.col-sm-4.xs-mt-15.md-mt-0
            +details()
