mixin top()
  div.row.light-green.center-xs
    div.col-xs-8
      div.flex-container
        div.xs-mt-10.xs-mb-10
          div.row.middle-xs
            div.col-xs-12.col-sm-6
              div.row.center-xs
                +img-circle-responsive("/kasia-round-75.png","Circle image")
            div.col-xs-12.col-sm-6
              div.row
                div.col-xs-12
                  h1.h2
                    strong Katarzyna Niedziela
                div.col-xs-12
                  div.row
                    div.col-xs-12
                      h2.h3 Looking for new opportunities
                    div.col-xs-12
                      +contact-me

mixin contact-me()
  div.row
    div.col-xs-12
      a(class="btn btn-success" href="mailto:ka.niedziel@gmail.com")
        i.glyphicon.glyphicon-envelope
        span.xs-pl-10 Contact Me
      a(class="btn btn-success" href="/CV/cv.pdf")
        i.fa.fa-file-pdf-o
        span.xs-pl-10 Curriculum Vitae
      a(class="btn btn-success" href="https://uk.linkedin.com/in/katarzyna-niedziela-a4895b5b/en")
        i.fa.fa-linkedin 
        span.xs-pl-10 Linkedin Profile
