.personalLogo {
}

.logoPlaceholder {
    color:white;
    font-size: 24px;
    padding-top: 8px;
}

.header-contact-address {
    font-size: 18px;
    padding-top: 8px;
}

.phenomic-HeadingAnchor {
    display:none;
}

.embedded-video{
    width: 90%;
    height: 480px;
}

.media-link i {
    font-size: 40px;
}