.Site {
  display: flex;
  flex-direction: column;
}

.Site-content {
  flex:1 0 auto;
}

.banner {
  background-color: #7175ad
}

.contact-info {
  background-color: #ba8426
}

.footer{
  background-color: #7175ad
}

.is-hidden {
  display: none;
}

body{
  background-color:  #ffffff;
}

.yellow{
  background-color: #cced5f;
}

.blue{
  background-color: rgb(90, 96, 231)
}

.box-grey{
  background-color: #666666;
}

.box-grey-light{
  background-color: #999999;
}

.box-round{
  
}
