.Site {
  display: flex;
  flex-direction: column;
}

.Site-content {
  flex:1 0 auto;
}

.banner {
  background-color: #7175ad
}

.contact-info {
  background-color: #ba8426
}

.music-panel {
  background-color: #d2d987
}

.business-panel {
  background-color: #d98ecf
}

.footer{
  background-color: #7175ad
}

.is-hidden {
  display: none;
}
